:root {
    --text-color: #fdfbfe;
    --bg-color: #040104;
    --primary-button-color: #ff00a8;
    --secondary-button-color: #000000;
    --accent-color: #1e0b0c;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    display: flex;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto Mono', monospace;
}

.left-side-bar {
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    height:100vh;
    display: flex;
    width: 800px;
    box-sizing: border-box;
}

.right-side-bar {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 60px;
    gap: 10px;
}

img {
    padding-bottom: 5px;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1.5em;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
}

.text-background {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80vh;
    gap:5px;
}

.sign-up-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (max-width: 700px) {
    body {
        flex-direction: column;
    }
    .left-side-bar {
        height: 20vh;
        width: auto;
    }
    .right-side-bar {
        margin: 5vw;
        width: 90vw;
    }
    .text-background {
        margin-top: 1vh;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1em;
    }
}